<h1>Personal Info Mgmt System</h1>
<h3><a href='new'>Add New Person</a><h3>

<p>
<table border='1'>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>ADDRESS</td>
        <td>EMAIL</td>
        <td>PHONE</td>
        <td>MANAGE</td>
    </tr>
    {% for person in persons %}
    <tr>
        <td>{{ person.id }}</td>
        <td>{{ person.fullname }}</td>
        <td>{{ person.contactaddress }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.phone }}</td>
        <td> <a href='displayedit?pid={{person.id}}'>EDIT</a> | <a href='displaydelete?pid={{person.id}}'>DELETE</a> </td>
    </tr>
    {% endfor %}
</table>
</p>