<h1>New Person Entry</h1>
<h3>Form-1</h3>
<form action='receivenew' method='get'>
    <p>NAME : <input type="text" name="txtName"></p>
    <p>ADDRESS : <input type="text" name="txtAddress"></p>
    <p>EMAIL : <input type="text" name="txtEmail"></p>
    <p>PHONE : <input type="text" name="txtPhone"></p>
    <p><input type="submit" value="Submit"></p>
</form>

<h3>Form-2</h3>
<form action='receivenew' method='post'>
    {% csrf_token %}
    <p>NAME : <input type="text" name="txtName"></p>
    <p>ADDRESS : <input type="text" name="txtAddress"></p>
    <p>EMAIL : <input type="text" name="txtEmail"></p>
    <p>PHONE : <input type="text" name="txtPhone"></p>
    <p><input type="submit" value="Submit"></p>
</form>