h1{
    color: blue;
    font-size: 25pt;
}

h2{
    color: darkturquoise;
    font-size: 20pt;
}
p{
    font-size: 15pt;
    font-weight: bold;
    color: forestgreen;
}

body{
    background-color: gainsboro;
    margin-left: 20pt;
    margin-right: 20pt;
    margin-top: 20pt;
}