{% load static  %}
<!DOCTYPE html>
<html>

<head>
  <title>Our Company</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<h1>1. Style</h1>
  <h2>Welcome to Our Company</h2>
  <h2>Web Site Main Ingredients:</h2>
  <p>Pages (HTML)</p>
  <p>Style Sheets (CSS)</p>
  <p>Computer Code (JavaScript)</p>
  <p>Live Data (Files and Databases)</p>
  
  <h1>2. Image</h1>
    <img src="{% static 'images/image1.png' %}">

  <h1>3. JavaScript</h1>
    <input type="button" value="Click Me" onclick="function1()">
</body>
</html>
<script src="{% static 'js/test.js' %}"></script>