<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person Management System</title>
</head>
<body>
<p><a href="new">Add New Person</a></p>
<h3>All Persons</h3>
<table border="1">
    <thead><td>ID</td><td>NAME</td><td>ADDRESS</td><td>CONTROL</td></thead>
    <tbody>
    {% for person in persons %}
        <tr><td>{{ person.id }}</td><td>{{ person.fullname }}</td><td>{{ person.address }}</td><td><a href="update/?id={{ person.id }}">EDIT</a> | <a href="delete/?id={{ person.id }}">DELETE</a> </td></tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>