asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
Django==3.1.7
django-crispy-forms==1.10.0
django-filter==2.4.0
djangorestframework==3.12.2
idna==2.10
Markdown==3.3.3
mysql-connector-python==8.0.22
Pillow==8.0.1
protobuf==3.14.0
pytz==2020.4
reportlab==3.5.56
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.2
