<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Persons</title>
</head>
<body>
<h3>All Persons</h3>
<p><a href="display_new">Add New</a></p>
<table border="1">
    <thead>
        <td>ID</td>
        <td>NAME</td>
        <td>ADDRESS</td>
        <td>CONTROL</td>
    </thead>
    {% for person in persons %}
        <tr>
            <td>{{ person.pid }}</td>
            <td>{{ person.full_name}}</td>
            <td>{{ person.contact_address}}</td>
            <td><a href="display_edit?pid={{person.pid }}">EDIT</a> | <a href="display_delete?pid={{person.pid }}">DELETE</a></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>