<!DOCTYPE html>
<html>
    <head>
        <title>Make Profile</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
    <h3>List All Images</h3>
    {% for profile in profiles %}
        <hr/>
        <p><img src="{{ profile.picture.url }}" class="image_responsive" height="150px" width="150px"></p>
        <hr/>
    {% endfor %}
</body>
</html>