<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person Edit Entry Form</title>
</head>
<body>
    <h3>Person Delete Form</h3>
    <form action="delete/" method="post">
        {% csrf_token %}
        <input type="hidden" name="txt_id" value="{{ person.0 }}">
        ID : <input type="text" name="id" value="{{ person.0 }}" disabled><br/>
        NAME : <input type="text" name="txt_name" value="{{ person.1 }}" disabled><br/>
        ADDRESS : <input type="text" name="txt_address" value="{{ person.2 }}" disabled><br/>
        <input type="submit" value="DELETE">
    </form>
</body>
</html>