<html>
    <head>
        <title>Photogallery Page</title>
    </head>
    <body>
        <h1>Photo </h1>
        <p><img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fphoto&psig=AOvVaw09kNTSXbAKbIqoZlpYomZA&ust=1639651371807000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCLiEp7_P5fQCFQAAAAAdAAAAABAD"></p>

        <h1>Photo2 </h1>
        <p><img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fphoto%2520editing%2F&psig=AOvVaw09kNTSXbAKbIqoZlpYomZA&ust=1639651371807000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCLiEp7_P5fQCFQAAAAAdAAAAABAI"></p>
        
        <h1>Photo3 </h1>
        <p><img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pocket-lint.com%2Fcameras%2Fnews%2Fsony%2F151442-stunning-photos-from-the-national-sony-world-photography-awards-2020&psig=AOvVaw09kNTSXbAKbIqoZlpYomZA&ust=1639651371807000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCLiEp7_P5fQCFQAAAAAdAAAAABAO"></p>
    
        <br/>
        <br/>
        <p><a href='../'>Home</a> | <a href='../about/'>About</a> | <a href="../products/">Products</a> | <a href="../gallery/">Gallery</a></p>
    </body>
</html>