{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<h2>Welcome to app22</h2>
<!--
<p>Num1 {{n1}} </p>
<p>Num2 {{n2}} </p>

{# variable #}
<p>Result {{n3}} </p> 

{# This is comment #}

{# tag -> programming section #}
{# {%  %} #}
-->
{% comment %}

{% autoescape on %}
    {{str1}}
{% endautoescape %}

{% autoescape off %}
    {{str1}}
{% endautoescape %}

{% endcomment %}

{% comment %}
    {{str1}}
{% endcomment %}

<!-- csrf_token -->
{% comment %}
<h2>csrf_token</h2>
<h3>USER {{user}}</h3>
<h3>PASS {{pass}}</h3>
<h3>REM {{remarks}}</h3>
<h3>KEY {{key}} </h3>
{% endcomment %}

<!-- cycle -->
{% comment %}
<h3>{{nums}}</h3>
{% for num in nums %}
    <p class='{% cycle 's1' 's2' 's3' %}'>
        {% filter  upper %}
            {{num}}
        {% endfilter %}
    </p>
{% endfor%}
{% endcomment %}

<!-- firstof -->
{% comment %}
{% firstof n1 n2 n3 'default'  %}
{% endcomment %}

<!--if-->
{% comment %}
{% if sub1 >= PM and sub2 >= PM %}
    <p>RESULT : PASS</p>
{% else %}
    <p>RESULT : FAIL</p>
{% endif %}
{% endcomment %}

{% comment %}
<!-- include -->
{% include "app22/footer.html" %}

<!-- load -->
{% load humanize  %} <!--load-->
<p>{{ 20000004|intword }}</p> <!--call-->

<!-- lorem-->
<p> {% lorem random %} </p>
<p> {% lorem 1 p random %} </p>
<p> {% lorem 5 w random %} </p>

<!-- now -->
<p>{% now "Y-m-d"%}</p>
{% endcomment %}

<!-- filters -->
{% comment %} 
<p>{{ num1 | add:5}}</p>
{% endcomment %}

<!-- addslashes -->
{% comment %}
<p>{{ str1}}</p>
<p>{{ str1|addslashes}}</p>
{% endcomment %}

<!-- capfirst -->
{% comment %}
<p>{{ str1}}</p>
<p>{{ str1|capfirst}}</p>
{% endcomment %}

<!-- center-->
{% comment %}
<p>{{ str1|center:"50" }}</p>
<p>{{ str1|cut:"a" }}</p>
{% endcomment %}

<!--date -->
{% comment %}
<p>{{ str1 }}</p>
<p>{{ str1|date:"SHORT_DATE_FORMAT"}}</p>
<p>{{ str1|date:"Y m d h i s"}}</p>
{% endcomment %}

<!-- default default_if_none -->
{% comment %}
<p>{{ str1 }}</p>
<p>{{ str1|default:'***'}}</p> <!-- print BLANK if str1 is None -->
{% endcomment %}

<!-- dictsort -->
{% comment %}
<p>{{ var1 }}</p>
<p>{{ var1|dictsort:'name' }}</p>
{% endcomment %}

<!--floatformat-->
<p>{{ var1 }}</p>
<p>{{ var1|floatformat:2 }}</p>
<p>{{ var1|floatformat:3 }}</p>
<p>{{ var1|floatformat:7 }}</p>
<p>{{ "Broadway"|length}}</p>
<p>{{ "Broadway"|length_is:"8"}}</p>
<p>{{ "Broadway"|ljust:"15"}}</p>
<p>{{ "Broadway"|center:"15"}}</p>
<p>{{ "Broadway"|rjust:"15"}}</p>
<p>{{ "Broadway Infosys Nepal"|lower}}</p>
<p>{{ "broadway infosys nepal"|title}}</p>
<p>{{ "broadway infosys nepal"|upper}}</p>
<p>{{ "broadway infosys nepal"|wordcount}}</p>



